<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Categoria</title>
</head>
<body>
    <h1>Editar Categoria</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="nome">Nome da Categoria:</label><br>
            <input type="text" id="nome" name="nome" value="{{ categoria.nome }}" required>
        </div>
        <br>
        <div>
            <input type="submit" value="Salvar">
            <a href="{% url 'lista_categorias' %}">Cancelar</a>
        </div>
    </form>
    <br>
    <a href="{% url 'lista_categorias' %}">Voltar para a lista de categorias</a>
</body>
</html>
